*{
    margin: 0px;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: cornflowerblue;
    position: fixed;
}

.nav-list{
    display: flex;
    list-style-type: none;
    font-size: 2rem;
    font-weight: 400;
}

.nav-list a {
    display: flex;
    font-size: 2.2rem;
    padding: 2rem;
    text-decoration: none;
}

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: indigo;
}

h1, h3 {
    color: #fff;
}

#project-list {
    display: flex;
    justify-content: space-evenly;
}

#contact {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin: 1.5rem;
    width: 100%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

#contact a {
    margin: 1rem;
}

i {
    font-size: 2rem;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    height: 60px;
    background-color: darkcyan;
    color: #fff;
    align-items: center;
}

@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}

@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}

@media (max-width: 28.75em) {
    html {
        font-size: 50%;
    }
}