:root {
  background-color: lightgray;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  height: 3rem;
  border-radius: 10px;
  font-size: larger;
  background-color: #00F8FE;
  color: black;
  font-weight: 600;
  margin-left: .5rem;
  margin-right: .5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.scene {
  width: 220px;
  height: 280px;
  border: 1px solid #CCC;
  margin: 10px;
  perspective: 600px;
  border-radius: 30px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;

}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  backface-visibility: hidden;
  border-radius: 30px;
}

.card__face--front {
  background: darkslategray;
}

.card__face--back {
  background: darkslategray;
  transform: rotateY(180deg);
}

img {
  max-width: 200px;
  max-height: 200px;
}

.card__face ul {
  text-align: left;
  list-style-type: square;
}