:root {
    box-sizing: border-box;
}

header, footer {
    display: flex;
    justify-content: center;
    color: #bbbbbb;
}

.container {
    display: flex;
}

.shipView {
    width: 100%;
    margin: 10%;
}

#defaultImg {
    max-width: 600px;
    min-height: 400px;
}

.nav {
    border: solid 2px blue;
    padding: 1rem;
    background-color: #333333;
    border-radius: 10px;
}

a {
    text-decoration: none;
    font-size: 1.25rem;
}

a:hover {
    color: white;
}

li {
    list-style-type: none;
}