:root {
    background-color: lightgray;
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.senDiv {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: 1rem;
}

img {
    border-radius: 1rem;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

figcaption {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.fa-democrat {
    color: blue;
}

.fa-republican {
    color: red;
}

.fa-star {
    color: rgb(131, 131, 3);
}

.progressDiv {
    display:flex;
    flex-direction: column;
    margin-left: 40px;
    margin-top: -.75rem;
}